{% macro productCard(product) %}
<div class="product card">
    <div class="card-body d-flex flex-row">
        <img
            src="https://via.placeholder.com/150"
            alt="foto de un {{ product.name }}"
            width='150px'
            height='150px'
            class="rounded"
            loading="async"
            srcset="https://via.placeholder.com/150 150w,
                    https://via.placeholder.com/300 300w,
                    https://via.placeholder.com/450 450w,
                    https://via.placeholder.com/600 600w,
                    https://via.placeholder.com/750 750w,
                    https://via.placeholder.com/900 900w,
                    https://via.placeholder.com/1050 1050w,
                    https://via.placeholder.com/1200 1200w,
                    https://via.placeholder.com/1350 1350w,
                    https://via.placeholder.com/1500 1500w,
                    https://via.placeholder.com/1650 1650w,
                    https://via.placeholder.com/1800 1800w,
                    https://via.placeholder.com/1950 1950w,
                    https://via.placeholder.com/2100 2100w,
                    https://via.placeholder.com/2250 2250w,
                    https://via.placeholder.com/2400 2400w,
                    https://via.placeholder.com/2550 2550w,
                    https://via.placeholder.com/2700 2700w,
                    https://via.placeholder.com/2850 2850w,
                    https://via.placeholder.com/3000 3000w,
                    https://via.placeholder.com/3150 3150w,
                    https://via.placeholder.com/3300 3300w,
                    https://via.placeholder.com/3450 3450w,
                    https://via.placeholder.com/3600 3600w,
                    https://via.placeholder.com/3750 3750w,
                    https://via.placeholder.com/3900 3900w,
                    https://via.placeholder.com/4050 4050w,
                    https://via.placeholder.com/4200 4200w,
                    https://via.placeholder.com/4350 4350w,
                    https://via.placeholder.com/4500 4500w,
                    https://via.placeholder.com/4650 4650w"
        />
        <div class="ms-3">
            <h5 class="card-title mb-0">{{ product.name }}</h5>
            <p class="card-text">
                <small class="text-muted">{{ product.type }}</small>
            </p>
            <p class="fs-3">$ {{ product.price }}</p>

            {% if (product.discount > 0) %}
                <p class="small" data-testid="discount">{{ product.discount }} %</p>
            {% endif %}
        </div>

        <div class="flex-grow-1 d-flex align-items-center justify-content-end">
            <!-- Si tiene definido CartProduct quiere decir que estamos en el carrito -->
            {% if (not product.CartProduct ) %}
                <form action="/cart" method="POST">
                    <input type="text" class="d-none" name="productid" value="{{ product.id }}">
                    <button type="submit" class="btn btn-outline-primary">Agregar a carrito</button>
                </form>
            {% else %}
                <div class="product__quantity fs-4 bold">
                    <form action="/cart/delete" method="POST">
                        <input type="text" class="d-none" name="productid" value="{{ product.id  }}">
                        <button type="submit" class="btn btn-outline-danger">Quitar del carrito</button>
                    </form>

                    {{ product.CartProduct.quantity }} en carrito
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
