<!-- prettier-ignore -->
{% import "_product-card.html" as productCard %}
{% import "_pagination.html" as _pagination %}
{% extends "_base.html" %}

{% block main %}
<div class="row">
    <div class="col mt-4 vstack gap-2">
        {% for product in products %}
            {{ productCard.productCard(product) }}
        {% endfor %}
    </div>
</div>
<div class="row mt-4">
    {{
        _pagination.pagination(pagination.totalPages, pagination.currentPage)
    }}
</div>

<footer class="footer text-center text-white" style="background-color: #0a316b;">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Av.60 esq. 124 s/n, La Plata, Buenos Aires, Argentina | Tel: (0221) 412- 4300</span>
        </p>
        <p class="d-flex justify-content-center align-items-center">
            <span class="me-3"> webmaster@frlp.utn.edu.ar</span>
        </p>
      </section>
    </div>

 
    <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
      © 2022 Copyright:
      <a class="text-white" href="https://www.frlp.utn.edu.ar/">UTN F.R.L.P</a>
    </div>
</footer>

{% endblock %}
